db.driverClass=com.mysql.cj.jdbc.Driver
db.jdbcUrl=jdbc:mysql://localhost:3306/SALESMANAGER?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
db.user=root
db.password=password
db.show.sql=false
db.preferredTestQuery=SELECT 1
db.schema=SALESMANAGER
db.minPoolSize=5
db.maxPoolSize=10
db.initialPoolSize=5
db.init.data=true
hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
hibernate.hbm2ddl.auto=update
